TYPEORM_HOST=
TYPEORM_DATABASE=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_CONNECTION=postgres
TYPEORM_DRIVER_EXTRA='{"ssl": { "rejectUnauthorized": false }}'
TYPEORM_MIGRATIONS=./src/migration/*.ts
TYPEORM_MIGRATIONS_DIR=./src/migration